/*
 * Colors
 */
$white: #ffffff;
$blue: blue;
$dark-gray: #444444;
$gray: #d4d5d6;
$light-gray: rgb(244, 246, 249);
$bartik-blue: #1d84c3;

$alert-color: #d9534f;
$bootstrap-grey: #f9f9f9;
$info-color: #5bc0de;
$success-color: #5cb85c; //#28a745
$bootstrap-blue: #428bca;


/*
 * Layout
 */
$container-width: 1200px;

$border-radius: 5px;