@import '../../scss/variables';


.toasts-container {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 250px;
}


.toast {
  //width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 15px;
  background-color: #fff;
  color: #ffffff;

  &.error {
    background-color: rgba($alert-color, 0.7);
  }

  &.success {
    background-color: rgba($success-color, 0.7);
  }
}

.toast--content {
  flex: 1 1 auto;
  margin: 0 12px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;

  .toast-icon {
    margin-right: 10px;
  }
}

.toast--dismiss {
  flex: 0 0 auto;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
 // font-size: 1.1em;
}

// Transitions
.toasts-enter {
  opacity: 0.01;
}

.toasts-enter.toasts-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.toasts-leave {
  opacity: 1;
}

.toasts-leave.toasts-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
