@import '../scss/variables.scss';

.articles--item {
  display: flex;
  background-color: $light-gray;
  margin-bottom: 20px;
  padding: 10px;

  .article--image {
    width: 200px;
    margin-right: 20px;

    img {
      width: 100%;
      height: auto;
      max-height: 250px;
      display: block;
    }
  }
}