@import '../../scss/variables';

.notifications--container {
  position: relative;
  right: 0;
  top: 0;
  background-color: rgba(#ffffff, 0.75);
  z-index: 2;
  width: 300px;

  h4 {
    text-align: center;
  }
}

.notification {
  padding: 15px 20px;
  display: flex;
  align-items: center;

  .close {
    margin-left: auto;
  }

  &.success {
    background-color: $success-color;
  }
}