.auth--profile-icon {
  .avatar {
    width: 35px;
    height: 35px;
  }
}

.auth--settings-link {
  color: #ffffff;
  margin-left: 15px;
}

.auth--notification-icon {
  margin-left: 15px;
  margin-right: 15px;
}

.auth-profile-nav {
  .tooltip {
    display: none;
  }
}
